.major_suggestion{
    height: 800px;
    background-image: url('../../img/goi_y.jpg');
  background-repeat: no-repeat;
  object-fit: cover;

}

.result__content{
  background-color: #FEFCEC;
}


.question-form {
  background: #ffff;
  height: 650px;
  width: 850px;
  padding: 40px;
  border-radius: 15px;
}

.header-question {
  background-color: #F7D736;   /* vàng đậm giống mẫu bạn */
  color: #000;
  font-weight: 700;
  padding: 8px 12px;
  display: block;
  width: 550px;              /* bắt buộc để màu ăn full cell */
}

.header-answer {
  background-color: #F7D736;   /* vàng đậm giống mẫu bạn */
  color: #000;
  font-weight: 700;
  padding: 8px 12px;
  display: block;
  width: 200px;              /* bắt buộc để màu ăn full cell */
}

.ant-table-thead > tr > th {
  background: #F7D736 !important;
  color: #000 !important;
  font-weight: 700;
    border: 1px solid #000000 !important; /* viền xám nhạt chuẩn AntD */
}

.ant-table .ant-table-title{
padding: 0 !important;
border: 1px solid #000000 !important; /* viền xám nhạt chuẩn AntD */
}

/* Dòng lẻ trong tbody: 1,3,5,... */
.question-form .ant-table-tbody > tr:nth-child(odd) > td {
  background-color: #FEFCEC;  /* vàng nhạt */
}
/* Dòng chẵn giữ màu trắng */
.question-form .ant-table-tbody > tr:nth-child(even) > td {
  background-color: #f0efefea;
}

.custom-pagination {
  margin-top: 25px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 8px;
  
}
.btn__custom-pagination{
background-color: #F7D736;
padding: 10px 15px;
}

.btn__custom-pagination:hover{
  background-color: #FEFCEC;
  color: #000;
}