
rf_env
.env
venv
# Hardhat files
/cache
/artifacts

/node_modules
# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# *.pkl
# *.ipynb
# *.png
# *.jpg
# *.jpeg
# child_models_tuned/
# rf_resources/