.find__school{
    height: 600px;
    background-image: url('../../img/tim_truong.jpg');
  background-repeat: no-repeat;
  object-fit: cover;

}

.find__school .form_item_school{
    margin-left: 15px;
}

.text_find_school{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
}