.chat-input {
  display: flex;
  padding: 10px 20px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #ddd;
  outline: none;
  background-color: white;
  color: black;
  height: 30px;
  font-size: large;
}

.chat-input button {
  margin-left: 10px;
  padding: 0 40px;
  border: none;
  background-color: #ffb703;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
}
