.main {
  width: 100%;
  min-height: 620px;
  overflow: hidden;

  background-image: url('../../img/home.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  /* Cô gái nằm bên phải, dưới một chút */
  background-size: contain;
  /* Giữ nguyên tỉ lệ ảnh, không vỡ */
  background-color: #f6b21a;
  /* Nền vàng trùng màu ảnh, che phần trống */
}

.sologan {
  margin-top: 60px;
  margin-left: 60px;

}

.sologan .sologan_text {
  font-size: 20px;
  margin-left: 30px;
  letter-spacing: 1.5px;
}

.btn_khampha {
  padding: 25px 60px;
  border-radius: 30px;
  font-weight: 500;
  background: #FFEF78;
  border: 0px;
  background: linear-gradient(90deg, rgba(255, 239, 120, 1) 0%, rgba(255, 204, 2, 1) 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 9999px;
  transition: all 0.2s linear 0s;

}

/* Start Sologan */
.sologan {
  margin-top: 60px;
  margin-left: 60px;
}

.sologan .sologan_text {
  font-size: 30px;
  margin-left: 70px;
  letter-spacing: 2px;
  font-weight: 300;
}

.btn{
  margin-left: 60px;
  margin-top: 60px;
}
/* Nút khám phá */
.btn_khampha {
  width: 400px;
  position: relative;
  display: inline-block;
  padding: 25px 60px;
  border: none;
  border-radius: 9999px;
  font-weight: 500;
  font-size: 18px;

  background: linear-gradient(90deg, rgba(255, 239, 120, 1) 0%, rgba(255, 204, 2, 1) 100%);
  box-shadow: 0 6px 15px rgba(255, 204, 0, 0.5);
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn_khampha:hover {
  background: #fada26;
  transform: translateY(4px);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.3),
    0 1px 0 0 rgb(255, 230, 120),
    0 2px 0 0 rgb(255, 215, 80),
    0 3px 0 0 rgb(255, 200, 40),
    0 4px 0 0 rgb(255, 185, 20),
    0 6px 12px 0 rgba(18, 18, 18, 0.6);
}

/* Nút tư vấn với AI */
.btn_ai {
  margin-top: 30px;
  width: 400px;
  padding: 25px 60px;
  border: none;
  border-radius: 9999px;
  font-size: 18px;
  font-weight: 500;
  background: #2DB5D3;
  background: linear-gradient(90deg, rgba(45, 181, 211, 1) 0%, rgba(16, 3, 154, 1) 100%);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn_ai:hover {
  transform: translateY(4px);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.25),
    0 1px 0 0 rgb(100, 220, 255),
    0 2px 0 0 rgb(80, 190, 255),
    0 3px 0 0 rgb(60, 160, 255),
    0 4px 0 0 rgb(30, 120, 255),
    0 6px 12px 0 rgba(10, 20, 120, 0.6);
}