.tbresult__container{
margin-left: 70px;
}
.tbresult_school{
    width: 1300px;
}
.tbresult_school .ant-table-tbody > tr:hover > td {
  background-color: rgba(134, 134, 134, 0.9) !important;
  cursor: pointer;
}


/* .tbresult_school:hover {
    background-color: aqua !important;
} */

/* Dòng lẻ trong tbody: 1,3,5,... */
.tbresult_school .ant-table-tbody > tr:nth-child(odd) > td {
  background-color: #111827;  /* vàng nhạt */

}
/* Dòng chẵn giữ màu trắng */
.tbresult_school .ant-table-tbody > tr:nth-child(even) > td {
  background-color: #1F2937;
}


.tbresult_school .ant-table-tbody >tr >td {
    /* border: 1px solid #111827 !important; */
    border-bottom: 1px solid #111827 !important;
}
.tbresult_school .ant-table{
    color: #ffff;
}

.result_title {
  color: rgb(234, 179, 8);  
}